<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale:1.0">
    <title></title>
    <style>

    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="index.css">
  </head>
  <body>


<div class="style">
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
<div class="container-fluid">
  <a class="navbar-brand" href="#" style="color:white;"><i class="fas fa-school"></i></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" >
      <a class="nav-link active" aria-current="page" href="#" style="color:white;">Home</a>
      <a  class="nav-link active" href='/teacherstudent' style="color:white;">Signin</a>
      <a  class="nav-link active" href='#' style="color:white;">About Us</a>
      <a  class="nav-link active" href='#' style="color:white;">Contact Us</a>
      <a  class="nav-link active" href='#' style="color:white;">Admissions</a>
      <a  class="nav-link active" href='#' style="color:white;">News</a>
      <a class="nav-link active" aria-current="page" href="#" onclick="document.getElementById('id01').style.display='block'"  style="color:white;" style="width:auto;">Ranking's</a>
    </div>
  </div>
</div>
</nav>
</div>
<br><br>

<div id="id01" class="modal">
<table border="2px " >
		<thead>
			<tr>
				<th>Year</th>
				<th> NIRF Ranking's</th>
				<th>Shiksha</th>
				<th>Collegedunia</th>
				<th>Timeshighereducation</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>2016</td>
      	<td>20</td>
				<td>15</td>
				<td>28</td>
				<td>25</td>
			</tr>
			<tr>
				<td>2017</td>
        <td>18</td>
				<td>15</td>
			  <td>24</td>
				<td>23</td>
			</tr>
			<tr>
				<td>2018</td>
	      <td>20</td>
			  <td>18</td>
			 	<td>22</td>
				<td>20</td>
			</tr>
			<tr>
				<td>2019</td>
       	<td>16</td>
				<td>18</td>
				<td>26</td>
				<td>21</td>
			</tr>
			<tr>
				<td>2020</td>
	      <td>26</td>
				<td>16</td>
				<td>25</td>
				<td>24</td>
			</tr>
		</tbody>
  		</table>
		</div>

<br><br>

<div  align="center">
  <img src="school logo.jpg" alt=""  >
</div>
<br>

<div>
  <marquee  behavior="alternate">
      <img src="school1.jpg" alt="" width="500px" height="400px">  <img src="school2.jpg" alt="" width="500px" height="400px">  <img src="school3.jpg" alt="" width="500px" height="400px">  <img src="school4.jpg" alt="" width="500px" height="400px">
  </marquee>
</div>

<div class="text">
<h2>Welcome</h2>
<p>25 Years of a treasured tradition! And that makes a school unique, different and feels good!! Excellence academy – Bhilwara having begun in 1985 has launched itself into the second quarter of its glorious existence. This school has always been a landmark of the town from its inception and continues to be so. Starting on popular demand and growing rapidly to their expectations made the school special for the people of the town. Today, its sprawling campus, lush green playfields, spacious classrooms, dedicated staff, modern techniques of teaching – learning, efficient and devoted management and keen and cheerful children upholds the appeal and desirability of the school. The level of excellence in academic results as well as co-scholastic activities maintained year after year, is an added attraction.</p>
</div>
<br><br><br><br><br>
<div id="slider">
  <img name="Nimish" width="100%" height="700px">
</div>
<br>


<div id="why_choose">
   <br>
   <br>
   <br>
    <h1 class="back_btn">Why Choose Us</h1>

     <div>
  <div class="div_section1">
     <div class="icon"><i class="fas fa-school"></i></div>
      <h2>Huge School Campus</h2>
      <p>The diversification and expansion of the School through adoption
       of new and topically relevant courses has led to further enhancement of
      our infrastructure in order to fulfill our growing needs</p>
  </div>


  <div class="div_section1">
     <div class="icon"><i class="fas fa-laptop"></i></div>
      <h2>Computer Education</h2>
      <p>Computers have taken over a major part of human activities and
        enabled people to have more leisure by reducing his work-load.
        Computer Education is started from the primary classes and is one of the
      optional subjects in the Senior Secondary classes.
     </p>
  </div>

  <div class="div_section1">
     <div class="icon"><i class="fas fa-music"></i></div>
      <h2>Music &amp; Dance</h2>
      <p>Training of Vocal as well as instrumental music is provided
       according to the taste and interest of the students from Std. I to XII.
      'Indian classical' and 'western dance' are taught in the school by
       experts to train, guide and help those students interested in this form of art.
      </p>
  </div>


  <div class="div_section1">
     <div class="icon"><i class="fas fa-flask"></i></div>
      <h2>Science Laboratory</h2>
      <p>The school has a well equipped laboratory of Physics, Chemistry,
      Biology, Computer Science, Maths and Social Studies for the students to
      experiment and learn because learning by doing makes concrete concept formation
     </p>
  </div>
  </div>
    </div><br><br><br>
  </div>
  <br><br><br><br><br><br><br><br><br><br>  <br><br><br><br><br><br><br><br><br><br>

<br><br>
<div>
  <br>
<!-- <div class="alumini">
  <h2 >ALUMINI</h2>
  <img src="alumini1.jpg" alt=""  onmouseover="bImg(this)" onmouseout="nlImg(this)"> &nbsp; &nbsp; &nbsp; &nbsp; <img src="alumini2.jpg" alt="" onmouseover="bImg(this)" onmouseout="nlImg(this)"> &nbsp; &nbsp; &nbsp; &nbsp;   <img src="alumini3.jpg" alt="" onmouseover="bImg(this)" onmouseout="nlImg(this)"> &nbsp; &nbsp; &nbsp; &nbsp;
  <img src="alumini4.jpg" alt="" onmouseover="bImg(this)" onmouseout="nlImg(this)">
</div>
<br>
<br><br><br><br> -->

<div class="studentlife">
<h2>STUDENT LIFE</h2>
<img src="studentslife1.jpg" alt="" width="30%" onmouseover="bigImg(this)" onmouseout="normalImg(this)">&nbsp; &nbsp; <img src="studentslife2.jpg" alt="" width="30%" onmouseover="bigImg(this)" onmouseout="normalImg(this)">&nbsp; &nbsp; <img src="studentslife3.jpg" alt="" width="30%" onmouseover="bigImg(this)" onmouseout="normalImg(this)">
<br><br>
<img src="studentslife4.jpg" alt="" width="35%" onmouseover="bigImg(this)" onmouseout="normalImg(this)">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; <img src="studentslife5.jpg" alt="" width="35%" onmouseover="bigImg(this)" onmouseout="normalImg(this)">
</div>
<br><br><br><br><br>


<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Campuses</h3>
                    <ul>
                        <li><a href="#">Chandigarh</a></li>
                        <li><a href="#">Vellore</a></li>
                        <li><a href="#">Shirpur</a></li>
                        <li><a href="#">Mumbai</a></li>
                        <li><a href="#">Banglore</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>About Us</h3>
                    <ul>
                        <li><a href="#">chancellor</a></li>
                        <li><a href="#">Vice chancellor</a></li>
                        <li><a href="#">Faculty&Staff</a></li>
                        <li><a href="#">Board of management</a></li>
                        <li><a href="#">Legacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Careers</h3>
                    <ul>
                        <li><a href="#">Job openings</a></li>
                        <li><a href="#">Employee success</a></li>
                        <li><a href="#">Benefits</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 item social"><a href="https://www.facebook.com/profile.php?id=100008761308735" target="_blank"><i class="fab fa-facebook-f"></i></a><a href="https://www.linkedin.com/in/nimish-devpura-bb0a10193" target="_blank"><i class="fab fa-linkedin-in"></i></a><a href="https://www.snapchat.com/add/ndevpura89" target="_blank"><i class="fab fa-snapchat"></i></a><a href="https://www.instagram.com/_nimishhh/" target="_blank"><i class="fab fa-instagram"></i></a><a href="https://github.com/Nimish238" target="_blank"><i class="fab fa-github"></i></a>
                <p class="copyright">Excellence academy © df2021</p>
                  <p class="copyright">Creator : Nimish Devpura</p>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

  </body>
<script>
var i=0;
var images=["class.jpg","class2.jpg","library.jpg","library2.jpg","playgr.jpg","playground.jpg","lab.jpg","lab2.jpg"]
var s= setInterval(function(){
  document.Nimish.src=images[i];
  if(i<images.length-1){
    i++;
  }
  else{
    i=0;
  }
},2000);

function bigImg(x) {
  x.style.height = "32%";
  x.style.width = "32%";
}

function normalImg(x) {
  x.style.height = "30%";
  x.style.width = "30%";
}

function bImg(x){
  x.style.height="300px";
  x.style.width="14%";
}
function nlImg(x){
  x.style.height="250px";
  x.style.width="12%";
}

// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

</script>

</html>
